﻿body {
    font: 30px Arial,sans-serif;
    margin: 1px;
}

html, body {
    height: 100%;
   
}
 
* html #outer { /* ie6 and under only*/
    height: 100%;
}

.header {
    padding: 30px 10px;
    background:  purple;
    height: 100px; 
    
}

 .header h1 {
    font-size: 30px;
}

.container {
    width: 100%;
    height: 100%;
}
.container p{
    font-size:25px;
}


.section {
    width: 100%;
    height: 70%;
    opacity: 3;
}


.footer {
    background: #69695D;
    text-align: center;
    padding: 10px;
    margin-top: 0px;
    
}

a {
    border-color: Black;
    text-align:center;
    margin:10px;
    box-shadow: 10px 4px 2px 2px #acb3b9;
    
}
.lineup {
    border: 5px solid #73AD21;
}
.boorderline {
    border: 5px solid grey;
}
.img{
    size:10px;
}
